//Variabler//
$main-blue: #001624;
$main-beige: #FDFBED;
$gradient-right: linear-gradient(to right, #ff6821 0%, #f18c27 100%);
$gradient-bottom: linear-gradient(to bottom, #ff6821 0%, #f18c27 100%);
//Variabler End//
//Inheritances//
%center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
%hide {
  display: none;
}
%h1-blue {
  font-size: 60px;
  color: $main-blue;
  font-weight: 700;
}
%h1-white {
  font-size: 60px;
  color: white;
  font-weight: 700;
}
%cta {
font-size: 30px;
width: 150px;
height: auto;
@extend %center;
color: white;
background-image: linear-gradient(to right, #f5580f 0%, #f5ba25 51%, #f5580f 100%);
padding: 15px 25px;
background-size: 500%;
  background-position: left;
}

%readmore{
  color: white;
  background-image: linear-gradient(to right, #f5580f 0%, #f5ba25 51%, #f5580f 100%);
  background-size: 500%;
    background-position: left;
  margin: auto;
  width: 100px;
  margin-top: 20px;
  font-size: 22px;
  padding: 8px 13px;
}


//Inheritances End//

/*rules*/
* {
  margin: 0;
  padding: 0;
  font-family: futura-pt, sans-serif;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {
  background-color: $main-blue;
  overflow-x: hidden;
}

/*rules end*/

a {
  text-decoration: none;
  font-weight: 700;
  font-style: normal;

}


li {
  list-style: none;
}
/* Navigation */
.subpage-nav {
  background-color: $main-beige;
  width: 100%;
  padding: 20px 0;
  border-image: $gradient-right;
  border-image-slice: 1;
  border-bottom: 3px solid transparent;
  position: fixed;
  z-index: 20;
  top: 0;
  a {
    color: $main-blue;
  }
}

.frontpage-nav{
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 20px 0;
  a {
    color: white;
  }
}

.frontpage-nav.scrolled{
  background-color: $main-beige;
  border-image: $gradient-right;
  border-image-slice: 1;
  border-bottom: 3px solid transparent;
  transition: all 200ms linear;
  a{
    color: $main-blue;
  }
}

.mobileNav {
  display: none;
}

#mainNav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: 1375px;
  margin: auto;
}

.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    li {
      margin-left: 20px;
    }
  }
}

#logo, #logo-frontpage {
  width: auto;
  height: 35px;
}
/* Nav animation*/


.link a::after, .departments a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: $gradient-right;
  transition: width 0.3s;
}

.link a:hover::after, .departments a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
#contact{
  background:
  linear-gradient($main-beige,$main-beige) padding-box right,
  linear-gradient(to right, #ff6821 0%, #f18c27 100%) border-box;
    background-size:100% 100%,auto;
    background-repeat:no-repeat;
    border: 2px solid transparent;
    color: $main-blue;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 22px;
    transition: all .5s ease;
    display: block;
}
#contact:hover{
  background-size: 0% 100%, auto;
  a{
    color: white;
  }
}
/* Nav animation end*/

//Case Section for frontpage START

.casesection{
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-color: $main-beige;
  padding: 50px;
    h2{
      filter: opacity(0);
      position: relative;
      @extend %h1-blue;
      margin-bottom:-100px;
      z-index: 2;
      font-size: 70px;
      animation-name: fade;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 0.3s;
    }
    h3{
      filter: opacity(0);
      position: relative;
      @extend %h1-blue;
      margin-top: 5px;
      margin-left: 350px;
      z-index: 2;
      font-size: 30px;
      animation-name: fade;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      animation-delay: 1.2s;
    }
    .ownerphoto{
      filter: opacity(0);
      position: relative;
      width: 300px;
      z-index: 2;
      margin-bottom: -50px;
      animation-name: fade;
      animation-duration: 1s;
      animation-fill-mode: forwards;
    }

    .casephoto{
      filter: opacity(0);
      width: 800px;
      margin-left: -150px;
      -webkit-animation-name: fade;
      -ms-animation-name: fade;
      -webkit-animation-duration: 1s;
      -ms-animation-duration: 1s;
      -webkit-animation-delay: 0.8s;
      -ms-animation-delay: 0.8s;
      -webkit-animation-fill-mode: forwards;
      -ms-animation-fill-mode: forwards;
      animation-name: fade;
      animation-duration: 1s;
      animation-delay: 0.8s;
    }
    .casecta{
      display: flex;
      margin: 50px auto;
      align-items: center;
      justify-content: space-around;
    }
    .cta{
      width: 80px;
      font-size: 20px;
      height: 15px;
    }
    .casectatext{
      margin: 0 25px 0 0;
      font-size: 25px;
    }
    .casecontent{
      margin: auto;
      display: none;
    }


    @keyframes fade{
      from { filter: opacity(0); }
      to { filter: opacity(1); }
    }

}



/* Footer */
footer {
  width: 100%;
  display: flex;
  margin-top: 200px;
  background-color: $main-beige;
  margin-bottom: 0;
  a {
    color: $main-blue;
  }
}

.footer-left {
  width: 50%;
}

.footer-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-form {
  height: 65%;
  width: 50%;
  @extend %center;
  flex-direction: column;
  padding: 5px 5px;
}
#contact-form {
  @extend %center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.form-control {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $main-blue;
  color: $main-blue;
}
.form-area{
  width: 100%;
  background-color: transparent;
  border: 2px solid $main-blue;
    padding: 2px;
}
::placeholder {
  color: gray;
}
textarea {
  resize: none;
}
.submit {
  background: $gradient-bottom;
  font-size: 16px;
  font-weight: 700;
  width: 60%;
  border: transparent;
  margin-top: 20px;
  height: 50px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}
/*footer end*/

/*index*/
#hero-forside{
  @extend %center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/heroforside.jpg");
  background-position: center;
  background-size: cover;
  color: white;
  h1 {
    @extend %h1-white;
    font-size: 85px;
  }
}
.hero-content{
  width: 90%;
  height: 80vh;
  position: relative;
  h1 {
    padding-top: 50px;
  }
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 80px;
}
.cta {
  @extend %cta;
}

.cta:hover, .readmore:hover{
  animation-name: gradient;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes gradient{
  0% {background-position: 0% 50%}
  100%  {background-position: 100%}
}

.hero-text{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
}
.hero-desc {
  p {
    font-size: 20px;
  }
}

.hero-desc p{
  font-size: 20px;
}
.hero-desc, .hero-quote{
  width: 50%;
}

.quotes {
  @extend %hide;
  color: white;
  text-align: right;
  p {
    font-weight: 200;
    font-size: 20px;
  }
  .quote-place {
    font-size: 15px;
  }
}
/*index end*/

/* cases */

.cases-text{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  h1{
    @extend %h1-white;
  }
  h3{
    color: white;
  }
}
.cases-intro{
  margin-top: 120px;

}
#case-wrapper{
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1400px;
  justify-content: space-between;
  margin: auto;
}

.cases{
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;

  width: 20%;
  margin: auto;
  h2{
    padding-top: 20px;
    font-size: 28px;
  }
}

.cases-img{
  margin-left: 0px;
}

.case-toppic{
    width: 90%;
    margin-right: -40px;
}

.person{
  width: 90%;
  margin-top: -100px;
}

.readmore{
@extend %readmore;
}


/* cases end */

/* about.html */
  .about-container{
        margin: auto;
    margin-top: 18vh;
    width: 90%;
    max-width: 1375px;
  }

  #about-heading{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    h1{
      @extend %h1-white;
    }
  }

  #line-left, #line-right{
  background-color: white;
  height: 3px;
  }

  #line-left{
    width: 15%;
  }

  #line-right{
    width: 60%;
  }
/* about.html end */

  #about-intro{
    margin-top: 5vh;
    background-color: $main-beige;
    h2{
      color: $main-blue;
      font-size: 40px;
      font-weight: 700;
    }
    h3{
      color: $main-blue;
      font-size: 30px;
      font-weight: 700;
      margin-top: 3vh;
      margin-bottom: 2vh;
    }
    p{
      margin-top: 3vh;
      color: $main-blue;
      font-weight: 200;
    }
  }
  #about-intro img{
    width: 100%;
  }

  .about-who{
    padding: 60px 50px;
  }
  .departments{
    width: 35%;
    display: flex;
    justify-content: space-between;
    a{
    font-size: 20px;
    color: #FF6C25;
    margin-right: 8px;
    }
    a:hover{
      color: #FF5125;
    }
  }
  .about-city{
    background-color: $main-beige;
    width: 100%;
    margin-top: 10vh;
    display: flex;
    justify-content: space-between;
  }

  div.anchor{
    display: block;
position: relative;
top: -100px;
visibility: hidden;
  }

  .city-pic{
    width: 45%;
  }

  .city-text{
    width: 50%;
    padding: 20px 30px;
    h2{
      color: $main-blue;
      font-size: 40px;
      margin-bottom: 4vh;
      padding: 10px 0px;
    }
  }

  .city-desc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .city-icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    p, a{
      font-weight: 600;
      color: $main-blue;
      font-size: 14px;
    }
    img{
      width: 30px;
      margin-right: 3%;
    }
  }

  .worker{
    width: 230px;
    margin-right: 40px;
    margin-top: 20px;
  }

.worker-pic{
  width: 100%;
  margin-bottom: -10px;
  height: 230px;
}

.worker-info{
  background-color: $main-blue;
  padding: 25px 25px;
  height: 125px;
  margin: auto;
  h3, p, a{
    color: white;
  }
  p, a{
    font-size: 13px;
  }

}

.worker-line{
  height: 2px;
  width: 100%;
  background: $gradient-right;
  margin: 15px 0;
}

.worker-topline{
  height: 15px;
  width: 100%;
  background: $gradient-right;
  position: relative;
  margin-bottom: -15px;


}

.worker-contact{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  img{
    margin-right: 0.5vh;
  }
}

.worker-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 4vh;
  z-index: 10;
  margin-right: -220px;
  position: relative;
}
/*service*/
#service-main {
  @extend %center;
  width: 100%;
  height: 100vh;
  background-image: url(../images/service-background.jpg);
  background-size: cover;
  background-position: center;
}
.service-main-content {
  @extend %center;
  flex-direction: column;
  width: 100%;
  color: white;
  text-align: center;
}
.service-card-container {
  width: 70%;
  @extend %center;
  justify-content: space-around;
  flex-wrap: wrap;

}
.service-card {
  margin: 15px;
  @extend %center;
  flex-direction: column;
  width: 280px;
  background-color: $main-beige;
  h3 {
    color: white;
    font-size: 40px;
    font-weight: 700;
    padding: 10px 0 10px;
    width: 100%;
    text-align: center;
    background-image: $gradient-right;
  }
  .cta {
    margin-top: 25px;
    margin-bottom: 15px;
  }
}
.service-card-p {
  font-weight: 600;
  margin-top: 15px;
  color: $main-blue;
}
.service-card-icons-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
  margin-top: 10px;
}
.service-card-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
  img {
    height: 40px;
    margin-right: 15px;
  }
  p {
    color: $main-blue;
  }
}
#service-about {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: $main-beige;
  width: 100%;
}
.service-h2 {
  h2 {
    font-weight: 700;
    font-size: 30px;
    margin: 20px;
  }
  width: 100%;
  @extend %center;
}
.service-about-container {
  padding-top: 20px;
width: 30%;
display: flex;
justify-content: flex-start;
flex-direction: column;
text-align: center;
}

.pack-desc-section {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $main-beige;
  @extend %center;
}
.pack-desc {
  @extend %center;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 50px;
  background-color: $main-blue;
  width: 85%;
  color: white;
  h2 {
    font-size: 50px;
  }
  h5 {
    font-size: 25px;
  }
}
.pack-desc-content {
  padding-left: 50px;
  width: 60%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.pack-desc-text {
  width: 90%;
  p {
    padding-top: 10px;
  }
}
.pack-desc-icons {
  p {
    margin-left: 15px;
    font-weight: 700;
  }
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    height: 30px;
  }
}
.pack-desc-cta {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  .cta {
    @extend %readmore;
    margin: 0px;
    margin-left: 15px;
  }
}
.pack-desc-img {
  height: 450px;
  margin-right: -50px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/*service end*/
@media only screen and (max-width: 1300px) {
  /*index.html*/
  .hero-content {
    h1 {
      padding-top: 25px;
      font-size: 70px !important;
    }
    justify-content: space-between;
  }
  /*index.html end*/
  /*service.html*/
  .service-card-container {
  width: 90%;
  }
.pack-desc-img {
    height: 350px;
}
.pack-desc {
  height: auto;
}
.pack-desc-content {
  height: auto;
  h2 {
    font-size: 40px;
  }
  /*service.html end*/
}
.pack-desc-icons {
  padding-top: 20px;
}
.pack-desc-cta {
  margin-top: 10px;
  flex-direction: column;
  align-items: flex-start;
  .cta {
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
  }
}
}

/* about.html end */

/* casetinc og casery */

.showcase-wrapper{
  width: 75%;
  margin: auto;
  margin-top: 130px;
  max-width: 1300px;
}

.showcase-heading, .othercase-heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  h1, h2{
    @extend %h1-white;
    font-size: 55px;
}

.showcase-line-left, .showcase-line-right, .othercase-line-left, .othercase-line-right{
  background-color: white;
  height: 3px;
}
.showcase-line-left{
  width: 12%;

}
.showcase-line-right{
  width: 32%;

}

}

.video-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}
.showcase-video{
  width: 70%;
  height: auto;

}

.showcase-content{
  background-color: $main-beige;
  margin: auto;
  margin-top: -80px;
  padding-top: 150px;
  color: $main-blue;
  h2{
    font-size: 50px;
  }
  p{
    font-weight: 500;
  }
}

.content-left, .content-right{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content-left{
  margin-left: 70px;
}
.content-right{
  flex-direction: row-reverse;
  margin-top: 90px;
  margin-left: -70px;
}


.content-text{
  width: 40%;
}

.content-img{
  width: 50%;
  height: auto;
}
.content-help{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  padding-bottom: 50px;
}

.content-helptext{
  display: flex;
  flex-direction: column;
  h2{
    margin-bottom: 30px;
  }
}
.content-iconwrapper{
  display: flex;
  justify-content: space-around;
}

.content-icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  img{
    width: 80px;
    height: 80px;
  }
  h3{
    font-size: 16px;
    text-align: center;
  }
}

.help-img{
  margin-bottom: -100px;
  width: 40%;

}

.othercase-heading{
  margin-top: 150px;
}
.othercase-line-left{
  width: 18%;
}

.othercase-line-right{
  width: 40%;
}

.othercase-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 80px;
}

.othercase{
    width: 550px;
    height: 275px;
    background-color: $main-beige;
    margin-top: 40px;

}
.othercase-content{
  display: flex;
  p{
    font-size: 14px;
  }
  h3{
    margin-bottom: 10px;
    font-size: 20px;
  }
}

.othercase-img{
  width: 275px;
  height: 275px;
}

.othercase-text{
  width: 50%;
  padding: 35px 15px 20px 15px;
  text-align: center;
  display: flex;
  flex-direction: column;

}

.othercase-quote{
  display: flex;
  flex-direction: row;
  height: 50px;
}
.quote-sign-top{
  display: flex;
  align-items: flex-start;
  img{
    width: 10px;
  }
}

.quote-text{
  display: flex;
  align-items: center;
}

.quote-sign-bot{
  display: flex;
  align-items: flex-end;
  img{
    width: 10px;
  }
}

.othercase-line{
  background: $gradient-right;
  height: 2px;
  width: 100%;
  margin: 15px 0px;
}

.othercase-topline{
  background: $gradient-right;
  height: 8px;
  width: 100%;
  position: relative;
  margin-bottom: -8px;
}



@media only screen and (max-width: 1050px) {
  /*index.html*/
  .hero-content {
    h1 {
      font-size: 50px !important;
      justify-content: flex-end;
    }
  }
  .hero-text {
    padding-top: 50px !important;
    .hero-desc {
      display: none;
    }
  }
  /*index.html end*/
  /* about.html */
  .worker-container{
    margin-right: -300px;
  }
  .city-pic{
    width: 42%;
  }
  .worker{
    margin-right: 20px;
  }

  /* about.html end */

  /* cases */
  .cases{
    width: 27%;
    h2{
      font-size: 20px;
    }
  }

  /* cases end*/

  /* casetinc og casery */
.showcase-heading, .othercase-heading{
  h1, h2{
    font-size: 40px;
  }
}
  .showcase-content{
    h2{
      font-size: 35px;
    }
  }

  /* casetinc og casery end */

  /*service.html*/
  .service-card {
    width: 225px;
    height: auto;
    h3 {
      font-size: 30px;
    }
  }
  .service-card-icons {
    img {
      height: 30px;
    }
    p {
      text-align: left;
      font-size: 14px;
    }
  }
  .service-card-container {
  width: 90%;
  }
  .pack-desc-content {
    height: auto;
    h2 {
      margin-top: 20px;
    }
  }
  .pack-desc-img {
    height: 250px;
  }
  .pack-desc-cta {
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: row;
    align-items: center;
    .cta {
      margin: 0px;
      margin-left: 15px;
      height: 20px;
      width: 60px;
    }
  }
  /*service.html end*/
}

@media only screen and (max-width: 800px) {
    /* Mobile Navigation */
  .navlink {
    display: none;
  }

  .mobileNav {
    display: flex;
  }



  #logo, #logo-frontpage  {
    width: 140px;
    height: auto;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 23px;
    right: -190px;
    width: 180px;
    height: 100%;
    background-color: $main-beige;
    transition: all 0.6s ease;

    a {
      color: $main-blue;
      border-bottom: 1px solid $main-blue;
      padding: 15px 10px;
    }
  }

  .burger, .burger-frontpage {
    position: absolute;
    top: 25%;
    right: 20px;
    display: inline-block;
    div {
      width: 35px;
      height: 5px;
      margin: 5px 0;
      transition: 0.4s ease;
    }
  }

  .burger div{
    background-color: $main-blue;
  }

  .burger-frontpage div{
    background-color: white;
  }

  .burger-frontpage.scrolled div{
    background-color: $main-blue !important;
  }



  .sidebar.slide {
    right: 0;
  }

  #line2.slide {
    opacity: 0;
  }

  #line1.slide {
    transform: rotate(-45deg) translate(2px, 8px);
  }

  #line3.slide {
    transform: rotate(45deg) translate(-6px, -16px);
  }

/* https://www.jqueryscript.net/menu/Off-canvas-Burger-Menu-jQuery-CSS3.html */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 19;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $main-blue;
    opacity: 0;
    visibility: hidden;
  }

  .overlay.slide {
    opacity: 0.8;
    visibility: visible;
  }

  /* about.html */
  .about-city{
    display: flex;
    flex-direction: column-reverse;
  }

  .worker-container{
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .about-container{
    width: 85%;
  }

  .city-text{
    width: 90%;
  }

  .worker{

  }

  .city-pic{
    display: none;
  }

  #line-right{
    width: 50%;
  }

  /* about.html end */

  /* cases */
  .cases{
    width: 30%;
  }
  .cases-text{
    h1{
      font-size: 50px;
    }
  }
  /* cases end */

  /* casetinc og casery */

  .showcase-heading, .othercase-heading{
    h1, h2{
      font-size: 35px;
    }
  }

.showcase-wrapper{
  width: 85%;
}

.showcase-content{
  h2{
    font-size: 25px;
  }
}

.content-img{
  width: 50%;
}

.content-right{
  margin-left: -30px;
  width: 90%;
}
.content-left{
  margin-left: 90px;
  width: 90%;
}

.content-help{
  width: 100%;
}

.content-icon{
  img{
  width: 60px;
  height: 60px;
}
h3{
  font-size: 12px;
}
}

.service-about-container {
  width: 40%;
}
.pack-desc {
  height: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pack-desc-img {
  display: none;
}
.pack-desc-content {
  width: 85%;
  height: auto;
  padding: 0px;
  h2 {
    font-size: 45px;
  }
}
.pack-desc-cta {
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*service.html end*/
}

@media only screen and (max-width: 600px) {

  /* about.html */
  .city-text{
    padding: 10px 10px  ;
    width: 100%;
    margin: auto;
  }
  .about-container{
    width: 95%;
  }

  .departments{
    flex-direction: column;
  }

  .city-icon a{
    font-size: 12px;
  }

  .worker-container{
    margin: auto;
    justify-content: center;
  }

  #about-heading{
    h1{
      font-size: 40px;
    }
    #line-left{
      width: 10%;
    }

  }
/* about.html end */

/* cases */
#case-wrapper{
  display: flex;
  flex-direction: column;
}

.cases-text{
  h1{
    font-size: 40px;}
}

.cases{
  width: 90%;
  margin-top: 45px;
  .case-toppic{
    display: none;
  }
  .person{
    margin: 0;
  }
}

/* cases end */

/* casetinc og casery */

/* casetinc og casery */

.showcase-wrapper{
  width: 95%;
  margin-top: 100px;
}
.showcase-heading, .othercase-heading{
  h1, h2{
    font-size: 30px;
    text-align: center;
  }
}
.showcase-line-right{
  display: none;
}
.showcase-line-left{
  display: none;
}

.showcase-content{
  padding-top: 100px;
}
.showcase-video{
  width: 100%;
}
.content-left, .content-right{
  margin: 0px;
  width: 100%;
  margin: auto;
  flex-direction: column;
    margin-top: 30px;
}


.content-img{
  width: 100%;
}

.content-text{
  width: 90%;
  margin-bottom: 30px;
}

.help-img{
  display: none;
}

.content-help{
  width: 95%;
}

.content-helptext{
  width: 100%;
  h2{
    text-align: center;
  }
}

.content-iconwrapper{
  width: 100%;
  justify-content: space-around;
}

.othercase-line-left, .othercase-line-right{
  display: none;
}

.othercase-wrapper{
  margin-top: 30px;
}
.othercase{
  width: 100%;
}
.othercase-img{
  display: none;
}

.othercase-text{
  width: 90%;
}

.service-about-container {
  width: 80%;
}
.pack-desc-content {
  h2 {
    font-size: 35px;
  }
}
.pack-desc-cta {
  margin-top: 20px;
  align-items: flex-start;
flex-direction: column;
.cta {
  margin-left: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
}
}
/*service.html end*/
}



/* Mobile Navigation End */

/* about.html */
