//Variabler//
$main-blue: #001624;
$main-beige: #FDFBED;
$gradient-right: linear-gradient(to right, #ff6821 0%, #f18c27 100%);
$gradient-bottom: linear-gradient(to bottom, #ff6821 0%, #f18c27 100%);
//Variabler End//
//Inheritances//
%center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
%hide {
  display: none;
}
%h1-blue {
  font-size: 60px;
  color: $main-blue;
  font-weight: 700;
}
%h1-white {
  font-size: 40px;
  color: white;
  font-weight: 700;
}
%cta {
font-size: 30px;
width: 150px;
height: auto;
@extend %center;
color: white;
background-image: linear-gradient(to right, #f5580f 0%, #f5ba25 51%, #f5580f 100%);
padding: 15px 25px;
background-size: 500%;
}


//Inheritances End//

/*rules*/
* {
  margin: 0;
  padding: 0;
  font-family: futura-pt, sans-serif;
}



body {
  background-color: $main-blue;
  overflow-x: hidden;
  height: 2000px;
}

/*rules end*/

a {
  text-decoration: none;
  font-weight: 700;
  font-style: normal;

}


li {
  list-style: none;
}
/* Navigation */
.subpage-nav {
  background-color: $main-beige;
  width: 100%;
  padding: 20px;
  border-image: $gradient-right;
  border-image-slice: 1;
  border-bottom: 3px solid transparent;
  position: fixed;
  z-index: 2;
  top: 0;
  a {
    color: $main-blue;
  }
}

.frontpage-nav{
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  padding: 20px 0;
  a {
    color: white;
  }
}

.frontpage-nav.scrolled{
  background-color: $main-beige;
  border-image: $gradient-right;
  border-image-slice: 1;
  border-bottom: 3px solid transparent;
  transition: all 200ms linear;
  a{
    color: $main-blue;
  }
}

.mobileNav {
  display: none;
}

#mainNav {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.navlink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    li {
      margin-left: 20px;
    }
  }
}

#logo, #logo-frontpage {
  width: auto;
  height: 35px;
}
/* Nav animation*/
.link a:hover {
  text-decoration: none;
}

.link a::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: $gradient-right;
  transition: width 0.3s;
}

.link a:hover::after {
  width: 100%;
  transition: width 0.3s;
}
#contact{
  background:
  linear-gradient($main-beige,$main-beige) padding-box right,
  linear-gradient(to right, #ff6821 0%, #f18c27 100%) border-box;
    background-size:100% 100%,auto;
    background-repeat:no-repeat;
    border: 2px solid transparent;
    color: $main-blue;
    font-weight: 700;
    font-size: 14px;
    padding: 7px 22px;
    transition: all .5s ease;
    display: block;
}
#contact:hover{
  background-size: 0% 100%, auto;
  a{
    color: white;
  }
}
/* Nav animation end*/

/* Footer */
footer {
  width: 100%;
  display: flex;
  margin-top: 200px;
  background-color: $main-beige;
  margin-bottom: 0;
  a {
    color: $main-blue;
  }
}

.footer-left {
  width: 50%;
}

.footer-right {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-form {
  height: 65%;
  width: 50%;
  @extend %center;
  flex-direction: column;
  padding: 5px 5px;
}
#contact-form {
  @extend %center;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}
.form-control {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid $main-blue;
  color: $main-blue;
}
.form-area{
  width: 100%;
  background-color: transparent;
  border: 2px solid $main-blue;
    padding: 2px;
}
::placeholder {
  color: gray;
}
textarea {
  resize: none;
}
.submit {
  background: $gradient-bottom;
  font-size: 16px;
  font-weight: 700;
  width: 60%;
  border: transparent;
  margin-top: 20px;
  height: 50px;
  transition: 0.5s;
  cursor: pointer;
  color: white;
}
/*Navigation end*/

/*index*/
#hero-forside{
  width: 100%;
  height: 100vh;
  background-image: url("../images/heroforside.jpg");
  background-position: center;
  background-size: cover;
  @extend %h1-white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hero-content{
  width: 90%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 80px;
}
.cta {
  @extend %cta;
  background-position: left;
}

.cta:hover{
  animation-name: gradient;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes gradient{
  0% {background-position: 0% 50%}
  100%  {background-position: 100%}
}

.hero-text{
  display: flex;
  justify-content: space-between;
  width: 100%;
  p{
    font-size: 20px;
  }
}

.hero-desc, .hero-quote{
  width: 40%;
}


/*index end*/

/* cases */

.cases-text{
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  h1{
    @extend %h1-white;
  }
  h3{
    color: white;
    font-size: 21px;
    font-weight: 500;
  }
}
.cases-intro{
  margin-top: 120px;

}
#case-wrapper{
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-between;
  margin: auto;
}

.cases{
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 80vh;
  width: 100%;
}

.case-toppi{
    width: 250px;
}

.person{
    position: relative;
    width: 200px;

}






/* cases end */

  /* Mobile Navigation */
@media only screen and (max-width: 800px) {
  .navlink {
    display: none;
  }

  .mobileNav {
    display: flex;
  }

  nav {
    padding: 10px;
  }

  #logo, #logo-frontpage  {
    width: 60%;
    height: auto;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    position: fixed;
    margin-top: 23px;
    right: -190px;
    width: 180px;
    height: 100%;
    background-color: $main-beige;
    transition: all 0.6s ease;

    a {
      color: $main-blue;
      border-bottom: 1px solid $main-blue;
      padding: 15px 10px;
    }
  }

  .burger, .burger-frontpage {
    position: absolute;
    top: 25%;
    right: 20px;
    display: inline-block;
    div {
      width: 35px;
      height: 5px;
      margin: 5px 0;
      transition: 0.4s ease;
    }
  }

  .burger div{
    background-color: $main-blue;
  }

  .burger-frontpage div{
    background-color: white;
  }

  .burger-frontpage.scrolled div{
    background-color: $main-blue !important;
  }



  .sidebar.slide {
    right: 0;
  }

  #line2.slide {
    opacity: 0;
  }

  #line1.slide {
    transform: rotate(-45deg) translate(2px, 8px);
  }

  #line3.slide {
    transform: rotate(45deg) translate(-6px, -16px);
  }

/* https://www.jqueryscript.net/menu/Off-canvas-Burger-Menu-jQuery-CSS3.html */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: $main-blue;
    opacity: 0;
    visibility: hidden;
  }

  .overlay.slide {
    opacity: 0.8;
    visibility: visible;
  }
}
/* Mobile Navigation End */


.slider {
  width: 900px;
  height: 400px;
  margin: 0 auto;
  overflow: hidden;
}
.slides {
  display: block;
  width: 8000;
  height: 400px;
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.slide {
  float: left;
  height: 400px;
  width: 900px;
  color: white; 
}
